@page
@model RazorPageHotelApp.Pages.Hotels.GetAllHotelsModel
@{
    ViewData["Title"] = "GetAllHotels";
}

<form method="post">
    <div class="form-group">
        <label class="control-label">Filter names:</label>
        <input asp-for="FilterCriteria" />
        <label class="control-label">Sort by</label>
        <select asp-for="SortCriteria">
            <option value="Number">Number</option>
            <option value="Name">Name</option>
            <option value="Address">Address</option>
        </select>
        <input type="radio" asp-for="SortAscending" value="@true"/>Asc
        <input type="radio" asp-for="SortAscending" value="@false"/>Des
        <input type="submit" asp-page-handler="FilterSort" value="Filter/Sort" />
    </div>
</form>

<h4>List of hotels</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Hotel No
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Hotels.Count() != 0)
        {
            @foreach (var item in Model.Hotels)
            {
                <tr>
                    <td>
                        @item.HotelNo
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        <a asp-page="/Rooms/GetAllRooms" asp-page-handler="MyRooms" asp-route-id="@item.HotelNo">Rooms in hotel</a>
                    </td>
                    <td>
                        <a asp-page="/Hotels/Edit" asp-route-id="@item.HotelNo">Edit</a>
                    </td>
                    <td>
                        <a asp-page="/Hotels/Delete" asp-route-id="@item.HotelNo">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/Hotels/Create">Create New Hotel</a>
