@page
@model RazorPageHotelApp.Pages.Rooms.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new room</h1>

<p>Hotel number: @Model.Hotel.HotelNo</p>
<p>Hotel name: @Model.Hotel.Name</p>

<form method="post">
    <div class="form-group">
        <label class="control-label">Room number:</label>
        <input asp-for="@Model.Room.RoomNo" class="form-control" value="" />
        <span asp-validation-for="Room.RoomNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Room type:</label>
        <select asp-for="@Model.Room.Types">
            <option value="S">Single</option>
            <option value="D">Double</option>
            <option value="F">Family</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Room price per night:</label>
        <input asp-for="@Model.Room.Price" class="form-control" value="" />
        <span asp-validation-for="Room.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" asp-route-id="@Model.Hotel.HotelNo" value="Add" />
    </div>
</form>