@page
@model RazorPageHotelApp.Pages.Rooms.GetAllRoomsModel
@{
    ViewData["Title"] = "GetAllRooms";
}

<h2>List of rooms</h2>

<table class="table">
    <thead>
        <tr>
            <form method="post">
                <th>
                    Room No
                    <input type="radio" asp-for="SortChoice" value="@SortChoices.RoomNumberAsc" onchange="this.form.submit();" />Asc
                    <input type="radio" asp-for="SortChoice" value="@SortChoices.RoomNumberDes" onchange="this.form.submit();" />Des
                </th>
                <th>
                    Type
                    <select asp-for="TypeFilter" onchange="this.form.submit();">
                        <option value="">All</option>
                        <option value="S">Single</option>
                        <option value="D">Double</option>
                        <option value="F">Family</option>
                    </select>
                    <input type="radio" asp-for="SortChoice" value="@SortChoices.TypeAsc" onchange="this.form.submit();" />Asc
                    <input type="radio" asp-for="SortChoice" value="@SortChoices.TypeDes" onchange="this.form.submit();" />Des
                </th>
                <th>
                    Price
                    <input type="radio" asp-for="SortChoice" value="@SortChoices.PriceAsc" onchange="this.form.submit();" />Asc
                    <input type="radio" asp-for="SortChoice" value="@SortChoices.PriceDes" onchange="this.form.submit();" />Des
                </th>
                <th>
                </th>
                <th>
                </th>
            </form>
        </tr>
    </thead>
    <tbody>
        @if (Model.Rooms.Count() != 0)
        {
            @foreach (var item in Model.Rooms)
            {
                <tr>
                    <td>
                        @item.RoomNo
                    </td>
                    <td>
                        @switch (item.Types)
                        {
                            case 'D':
                                @("Double")
                                break;
                            case 'F':
                                @("Family")
                                break;
                            case 'S':
                                @("Single")
                                break;
                        }
                    </td>
                    <td>
                        @{
                            var s = $"{item.Price:C}";
                        }
                        @s
                    </td>
                    <td>
                        <a asp-page="/Rooms/Edit" asp-route-id[0]="@item.HotelNo" asp-route-id[1]="@item.RoomNo">Edit</a>
                    </td>
                    <td>
                        <a asp-page="/Rooms/Delete" asp-route-id[0]="@item.HotelNo" asp-route-id[1]="@item.RoomNo">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>